# Inference sur la californie

## Import des librairie et des données

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from scipy import stats

In [20]:
city = pd.read_csv("city.csv")
stand = pd.read_csv("allstd.csv")
clean = pd.read_csv("clean.csv")
df = pd.read_csv("immo_data.csv")
df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [6]:
clean.drop(columns=["Unnamed: 0"])
stand.drop(columns=["Unnamed: 0"])
city.drop(columns=["Unnamed: 0"])

,longitude,latitude,population,total_rooms,households,total_bedrooms,median_income,median_house_value,housing_median_age,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-124.35,40.54,806.0,1820.0,270.0,300.0,3.0147,94600.0,52.0,0.0,0.0,0.0,0.0,1.0
1,-124.30,41.80,1298.0,2672.0,478.0,552.0,1.9797,85800.0,19.0,0.0,0.0,0.0,0.0,1.0
2,-124.26,40.58,907.0,2217.0,369.0,394.0,2.3571,111400.0,52.0,0.0,0.0,0.0,0.0,1.0
3,-124.23,40.81,544.0,1112.0,172.0,209.0,3.3462,50800.0,52.0,0.0,0.0,0.0,0.0,1.0
4,-124.23,41.75,1343.0,3159.0,479.0,616.0,2.4805,73200.0,11.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10826,-114.57,33.57,624.0,1454.0,262.0,326.0,1.9250,65500.0,20.0,0.0,1.0,0.0,0.0,0.0
10827,-114.56,33.69,333.0,720.0,117.0,174.0,1.6509,85700.0,17.0,0.0,1.0,0.0,0.0,0.0
10828,-114.55,32.80,1431.0,2570.0,608.0,820.0,1.2750,56100.0,19.0,0.0,1.0,0.0,0.0,0.0
10829,-114.49,33.97,83.0,2809.0,45.0,635.0,1.6154,87500.0,17.0,0.0,1.0,0.0,0.0,0.0
10830,-114.31,34.19,1015.0,5612.0,472.0,1283.0,1.4936,66900.0,15.0,0.0,1.0,0.0,0.0,0.0

## OLS

In [7]:
y = clean["median_house_value"]
x = clean["total_rooms"]

model1 = smf.ols(formula='y ~ x', data=clean)
result1 = model1.fit()

print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     298.3
Date:                Fri, 13 Jan 2023   Prob (F-statistic):           2.96e-66
Time:                        12:19:39   Log-Likelihood:            -2.1572e+05
No. Observations:               16512   AIC:                         4.314e+05
Df Residuals:                   16510   BIC:                         4.315e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.882e+05   1384.412    135.925      0.000    1.85e+05    1.91e+05
x              6.9334      0.401     17.271      0.000       6.147       7.720
==============================================================================
Omnibus:                     1996.091   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2793.600
Skew:                           0.989   Prob(JB):                         0.00
Kurtosis:                       3.389   Cond. No.                     5.37e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.37e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
y1 = stand["median_house_value"]
x1 = stand["total_rooms"]

model2 = smf.ols(formula='y1 ~ x1', data=stand)
result2 = model2.fit()

print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     y1   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     298.3
Date:                Fri, 13 Jan 2023   Prob (F-statistic):           2.96e-66
Time:                        12:19:40   Log-Likelihood:                -23282.
No. Observations:               16512   AIC:                         4.657e+04
Df Residuals:                   16510   BIC:                         4.658e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   6.798e-17      0.008   8.81e-15      1.000      -0.015       0.015
x1             0.1332      0.008     17.271      0.000       0.118       0.148
==============================================================================
Omnibus:                     1996.091   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2793.600
Skew:                           0.989   Prob(JB):                         0.00
Kurtosis:                       3.389   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Test de Student

In [12]:
known_median = clean["median_house_value"].median()
# Sélectionner les données pour lesquelles vous voulez effectuer le test
median_house_values = clean['median_house_value']

# Effectuer le test
t_stat, p_value = stats.ttest_1samp(median_house_values, known_median)

# Interpréter les résultats
if p_value < 0.05:
    print("Il y a une différence significative entre la moyenne des valeurs médianes des logements et la valeur médiane connue.")
else:
    print("Il n'y a pas de différence significative entre la moyenne des valeurs médianes des logements et la valeur médiane connue.")

Il y a une différence significative entre la moyenne des valeurs médianes des logements et la valeur médiane connue.

## Test du Chi2

In [18]:
# Sélectionner les données pour lesquelles vous voulez effectuer le test
ocean_proximity = clean['INLAND']
median_house_values = clean['median_house_value']

# Effectuer le test
chi2, p_value, dof, expected = stats.chi2_contingency(pd.crosstab(ocean_proximity, median_house_values))

# Interpréter les résultats
if p_value < 0.05:
    print("Il y a une association significative entre la proximité de l'ocean et la valeur médiane des logements.")
else:
    print("Il n'y a pas d'association significative entre la proximité de l'ocean et la valeur médiane des logements.")

Il y a une association significative entre la proximité de l'ocean et la valeur médiane des logements.

## ANOVA

In [22]:
f_value, p_value = stats.f_oneway(df[df['ocean_proximity']=='INLAND']['median_house_value'], 
                                  df[df['ocean_proximity']=='NEAR OCEAN']['median_house_value'],
                                  df[df['ocean_proximity']=='NEAR BAY']['median_house_value'],
                                  df[df['ocean_proximity']=='ISLAND']['median_house_value'])

print(f_value, p_value)

1399.5551700071549 0.0

## Test de Pearson

In [29]:
r_value, p_value = stats.pearsonr(clean['median_house_value'], clean['latitude'])
print(r_value, p_value)

-0.14396956168089703 3.494656395667405e-77

## Test de Shapiro-Wilk

In [32]:
from scipy.stats import shapiro

for column in stand.select_dtypes(include=[np.number]):
    data = stand[column]
    stat, p = shapiro(data)
    print(f'Column {column} - Statistic={stat:.3f}, p={p:.3f}')

Column Unnamed: 0 - Statistic=0.955, p=0.000
Column ID - Statistic=0.956, p=0.000
Column longitude - Statistic=0.897, p=0.000
Column latitude - Statistic=0.877, p=0.000
Column housing_median_age - Statistic=0.978, p=0.000
Column total_rooms - Statistic=0.690, p=0.000
Column total_bedrooms - Statistic=0.730, p=0.000
Column population - Statistic=0.702, p=0.000
Column households - Statistic=0.743, p=0.000
Column median_income - Statistic=0.894, p=0.000
Column median_house_value - Statistic=0.913, p=0.000
Column <1H OCEAN - Statistic=0.632, p=0.000
Column INLAND - Statistic=0.586, p=0.000
Column ISLAND - Statistic=0.003, p=0.000
Column NEAR BAY - Statistic=0.362, p=0.000
Column NEAR OCEAN - Statistic=0.395, p=0.000